.navigation {
    background-color: #fff;
    &__bar {
        display: flex;
        align-items: center;
        font-size: 25px;
        line-height: 20px;
        font-weight: 400;
        a {
            text-decoration: none;
            margin-left: 20px;
        }
    }
    &__select {
        appearance:none;
        padding: 1px 1px 3px 5px;
        background: transparent;
        width: 53px;
        font-size: 22px;
        font-weight: 400;
        color: #000;
        outline: none;
        background: transparent;
        border: 2px solid #000;
        border-radius: 12px;
        cursor: pointer;
        option {
            &:checked { 
                display:none;
                font-size: 22px;
            }
        }
    }
    &__pseudo {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            height: 5px;
            width: 5px;
            top: 50%;
            right: 10%;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            pointer-events: none;
        }
    }
    &__wrapper {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        padding-top: 10px;
        img {
            max-height: 80px;
        }
    }
    &__topic {
        color: #000000;
        transition: all .2s ease;
        &:hover {
            color: $hover-color;
        }
    }
}

.hamburger {
    display: none;
}

